@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
body {
  margin: 0;
  padding: 0;
  height: 1700px;
  font-family: "Lato'", sans-serif;
}
ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
}
header {
  position: sticky;
  z-index: 2;
  top: 0;
}
nav ul li {
  display: inline;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
}
nav ul li a button {
  background-color: black;
  border: 0px;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
}
nav ul li a button:hover {
  background-color: #cccccc;
  transition: all 1s;
  color: black;
}
nav ul li a {
  text-decoration: none;
}
nav ul select {
  border: 0px;
  background-color: black;
  font-size: 20px;
  padding: 15px 30px;
  color: white;
}
nav ul select option {
  background-color: white;
}
nav ul select:hover {
  background-color: #cccccc;
  transition: all 1s;
  color: black;
}
nav button {
  background-color: black;
  border: 0px;
  display: inline;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
}
nav button:hover {
  background-color: #cccccc;
  transition: all 1s;
  color: black;
}

div#slider {
  overflow: hidden;
}
div#slider figure img {
  width: 20%;
  float: left;
}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 10s slidy infinite;
}
.about-band {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  width: 80%;
  margin: auto;
}

.about-cards {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card-item img {
  width: 300px;
}
.tour-dates {
  background-color: black;
  margin-top: 120px;
}
.tour-dates-child {
  width: 80%;
  position: relative;
  margin: auto;
  background-color: black;
  text-align: center;
  padding: 50px 0px;
}
.sold-out {
  background-color: white;
}
.sold-out-child {
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
}
.sold-out-button {
  background-color: red;
  color: white;
  padding: 0%;
  margin-left: 10px;
  width: fit-content;
  align-self: center;
  padding: 5px;
}
.sold-out hr {
  margin: 0;
}
.card-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card-item-places {
  background-color: white;
  margin: 0;
  box-sizing: inherit;
  min-width: 25%;
  padding-bottom: 20px;
  margin-top: 10px;
}

.card-content {
  background-color: white;
  margin: 0px;
  padding-top: 20px;
  text-align: center;
}
.card-item-places .button {
  width: fit-content;
  height: fit-content;
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
}
.contactus {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 60px;
}
.contactus-child {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.contactus-child {
  text-align: start;
  margin-top: 50px;
}
.contactus-child1 {
  border: 0;
  margin: 0;
}
.contactus-child12 {
  margin: 10px;
  margin-top: 10px;
}
.contactus-child12 p {
  display: inline-block;
  font-size: 20px;
  margin: 0;
  margin-left: 20px;
}
.contactus-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.contactus-child21 {
  display: inline-block;
}

.contactus-child23 {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.button-send {
  background-color: black;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 10px;
}
.input-field {
  padding: 10px;
}
.footer {
  margin: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer .copyrights a {
  text-decoration: none;
}
@media (max-width: 792px) {
  .contactus-child21 div {
    margin-top: 10px;
  }
}
